@model IEnumerable<Servicios_Web_1_Semana08.ReferenciaWCFNegocios.Pedido>

@{
    ViewBag.Title = "ListPedidosCliente";
}

<h2>ListPedidosCliente</h2>

@using (Html.BeginForm())
{
    <em>Cliente</em>
    @Html.DropDownList("cli",(SelectList)ViewBag.clientes)
    <button>Procesar</button>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechapedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idcliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idpedido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechapedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idcliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idpedido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
